body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0e0e0e;
   
   
    font-family:Gotham;

}

.baslik{
    text-align:center;
    color:white;
    font-size:32px;
}
   

.container {
 
    
   position:absolute; 
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
   
  
    float: left;
    background-color: #0e0e0e;
    align-items: center;
    justify-content: center;
}
.container div{
    float:left;
    text-align:center;
}

.container>*{
    width:250px;
    height:250px;
    background-color:#fff;
    margin:15px;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
  
}



/*KUTU 1 ***************************************************************************/
.d1-loading span {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 100%;
    transform: rotate(calc(var(--i)*(360deg/15))) translateY(35px);
    animation: d1-animate 1.5s linear infinite;
    animation-delay: calc(var(--i)*0.1s);
    opacity:0;
}

@keyframes d1-animate {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

/***************************************************************************************/



/*KUTU 2 ***************************************************************************/

.ring{
    position:absolute;
    width:100px;
    height:100px;
    border-radius:50%;
    
    animation:d2-ring 3s linear infinite;

}

@keyframes d2-ring{
    0%{
        transform:rotate(0deg);
        box-shadow:1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

    .ring:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
       /* box-shadow: 0 0 1px #888888;*/
    }

    .d2-span{
        color:#737373;
        font-size:8px;
        text-transform:uppercase;
        letter-spacing:1px;
        line-height:100px;
        animation:d2-text 3s ease-in-out infinite;
    }
    @keyframes d2-text{
       
        50%{
            color:white;
        }
    }




/***************************************************************************************/

/*KUTU 3 ***************************************************************************/

.d3-spinner {
    width: 50px;
    height: 50px;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-radius: 100%;
    margin: auto;
    animation: d3-spinner 1.5s  infinite;
    animation-timing-function:linear;
}


@keyframes d3-spinner{
    100%{
        transform:rotate(360deg);
    }
}



/***************************************************************************************/

/*KUTU 4 ***************************************************************************/



.d4-loader {
    height: 50px;
    width: 50px;
    border: 8px solid #0e0e0e;
    border-radius: 100%;
    border-bottom-color: #fff;
    animation: d4-spin 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes d4-spin{
    100%{
        transform:rotate(360deg);
    }
}

/***************************************************************************************/

/*KUTU 5 ***************************************************************************/

.d5-loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: d5-loader 2s infinite ease;
}



@keyframes d5-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: d5-loaderinner 2s infinite ease-in;
}

@keyframes d5-loaderinner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}


/***************************************************************************************/

/*KUTU 6 ***************************************************************************/



.d6-loader {
    position: relative;
    
}

    .d6-loader::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: #e65c00;
        animation: d6-animate 1s steps(3) infinite;
    }

@keyframes d6-animate {
    0%,75% {
       opacity:1;
    }

    76%,100% {
       opacity:0;
    }
}

    .d6-loader h2{
        position:relative;
        color:#e65c00;
        letter-spacing:5px;
        font-size:18px;
        text-transform:uppercase;
        animation:d6-typing 8s steps(100) infinite;
        overflow:hidden;

    }
@keyframes d6-typing{

    0%,90%,100%{
        width:0;
    }
    30%,60%{
        width:110.16px;
    }
}



   